.principal-conteiner{

  background-color:#E6ECF3 ;
  height:47vw;

}
.Instrument-select-guitar {
    background-image: url("./../../img/Instrumentos/Guitarra-Mod.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    
  
  }
.trastes{

  padding-left: 5%;
  
  }
.seccion-inf{

  margin-bottom: 16%;
}
  .Secction-Principal{
    height: 90%;
  }

 .seccionButton{
  margin-top: 10%;
  }
  

 .btn-inicio{
  border-radius: 100%;
  width: 60px;
  height: 60px;
  background-color: #0B0B24;
  box-shadow: 0px 15px 20px rgba(46, 80, 229, 0.4);
  margin-top: 15%;
  margin-right: 10%;
  margin-left: 15%;
 }
 .btn-inicio:hover {
  background-color: #FB854B;
  box-shadow: 0px 15px 20px rgba(13, 170, 170, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-inicio:active {
  transform: scale(2.5);
}
 
 .img-button{
  width: 160%;
  margin-left: -25%;
 }
 .btn-instrument{

  border-radius: 40%;
  width: 50px;
  height: 50px;
  background-color: #41656d67;
  margin-top: 15%;
  margin-right: 10%;
  margin-left: 15%;
  display: inline-block
 }
 .btn-instrument:hover {
  background-color: #23c483;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

.btn-instrument:active {
  transform: translateY(-1px);
}
 .seccionInstuments{
width: 60%;
height: 90%;
margin-left: 3%;
opacity: 100;
 }
 .seccionInstumentsOcult{
  width: 60%;
  height: 90%;
  margin-left: 3%;
  opacity: 0;
   }

   .tuner{
margin-top: -4%;

   }
.seccion-instrument{

  margin-bottom: 5%;
}