.navbar {
  background-color:#E6ECF3;
  
}




@media only screen and (min-width: 500px) {
  .links-nav{

    margin-left: 50%;
  }
  .Navbar__brand {
    color: #0c0505;
    padding-left: 70px;
    text-decoration: none;
  }
  
  .Navbar__brand:hover {
    color: #141b30;
  }
  
  .Navbar-logo-principal {
    margin-right: 0.5rem;
    width: 250px;
    height: 60px;
  }
  .Navbar__brand-logo {
    margin-left: 0.5rem;
    width: 30px;
    height:30px;
  }
} 
