 :root{
     --heigh-barra :150px;
 }
 
 
 @font-face {
     font-family: quartz;
     src: url(../../../fonts/quartz.ttf);
 }

 
 .SetingMainNote {
    float: left;
    font-family:"Tourney","Fuggles","Uchen";
    color:rgba(64, 255, 64, 0.63);
}
.MainBoxTuner{
   /* UI Properties */
    background: #161515 0% 0% no-repeat padding-box;
    font-family: "quartz";
    opacity: 1;
    border: 7.5px solid rgba(230, 224, 224, 0.089);
    height:310px;
    width:310px;
    border-radius: 50%;
    margin-top:90%;
    z-index: 50;
   


}
.Note {
    font-size:3.5rem;
    font-family:"quartz";
    display:inline-flex;
    margin-left: 38%;
    margin-top:20%;
     
    
}
.TetxOctv{
    font-size:2rem;
    margin-top:60%;
}

.NoteLeft{

    display: inline-flex;
    margin-top: 25%;
    margin-left:-40px;
    float: left;
    font-size: 1.5rem;
    
}

.NoteRight{
    float: right;
    display:inline-flex;
    margin-top: 25%;
    margin-right: -40px;
    font-size: 1.5rem;


}

.Hz{
margin-top: -30px;
}

.TetxHz{
    font-size: 0.8rem;
}
.MarcoLeft{
   background: url(../../../img/degradadoNaranja.jpg);
   background-position:center bottom;
   background-repeat: no-repeat;
  
    width: 130px;
    height: 150px;
    margin-top:45%;
    margin-left: -13%;
    border-bottom: 3px solid rgba(45, 206, 24, 0.986);
    border-left: 3px solid rgba(45, 206, 24, 0.986);
    border-bottom-left-radius:400px 400px;
    
}
.MarcoRight{
    background: url(../../../img/degradadoNaranja.jpg);
    background-position:center bottom;
    background-repeat: no-repeat;
    width: 130px;
    height: 150px;
    margin-top:-75%;
    margin-left:50%;
    border-bottom: 3px solid rgba(45, 206, 24, 0.986);
    border-right: 3px solid rgba(45, 206, 24, 0.986);
    border-bottom-right-radius:400px 400px;
}
.MarcoLeftInternal{
    background-color: #161515;
    width:110px;
    height:130px;
    border-bottom-left-radius:400px 400px;
    margin-left: 15px;
}
.MarcoRightInternal{
    background-color: #161515;
    width:110px;
    height:130px;
    border-bottom-right-radius:400px 400px;
}
.lineCentral{
    background-color: rgba(45, 206, 24, 0.986);
    width:7px;
    height:35px;
   margin-left: 50%;
   margin-top:-30px;
}
.line1{
    background-color: rgba(45, 206, 24, 0.986);
    width:3px;
    height:30px;
    margin-left: -9%;
    margin-top:-110px;
    transform: rotate(50deg);
}
.line2{
    background-color: rgba(45, 206, 24, 0.986);
    width:3px;
    height:30px;
    margin-left: 15%;
    margin-top:30px;
    transform: rotate(40deg);
}
.line3{
    background-color: rgba(45, 206, 24, 0.986);
    width:3px;
    height:30px;
    margin-left: 90%;
    margin-top:-40px;
    transform: rotate(130deg);
}
.line4{
    background-color: rgba(45, 206, 24, 0.986);
    width:3px;
    height:30px;
    margin-left: 108%;
    margin-top:-86px;
    transform: rotate(120deg);
}